h1 {
    align-content: center;
    font-size: 80pt;
    color: black;
    text-align: center;
    background-image: url(https://st.depositphotos.com/1668103/1910/i/950/depositphotos_19104685-stock-photo-active-grandmother-baking.jpg);
    padding: 210px;
    margin: 0px;
    border: 0px;
}

body {
    background-color: lightyellow;
}

p {
    font-size: 20pt;
    
}

#welcome {
    text-align: center;
    font-family: "Roboto";
    font-size: 24pt;
}